@model CommandesG.Models.Order

@{
    ViewData["Title"] = "Supprimer Commande";
}

<div class="container mt-5">
    <h1 class="text-center text-danger">@ViewData["Title"]</h1>
    <h3 class="text-center text-warning">Etes vous sure de voulior supprimer la commande?</h3>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Details Commande</h4>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.OrderDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.RequiredDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RequiredDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShippedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShippedDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Freight)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Freight)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipAddress)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipAddress)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipCity)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipCity)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipRegion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipRegion)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipPostalCode)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipPostalCode)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipCountry)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipCountry)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.CustomerId)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Employee)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Employee.EmployeeId)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ShipViaNavigation)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShipViaNavigation.ShipperId)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="OrderId" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a asp-action="Index" class="btn btn-secondary">Back to Liste Commandes</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
